*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fa;
  display: grid;
  grid-template-columns: 170px 1fr;
  font-family: "Rubik", sans-serif;
}

main {
  margin: 0 auto;
}

aside {
  padding-left: 10%;
}

.blue-bright {
  color: #125af5;
}

.blue-light {
  color: #b8cefb;
}

.blue-pale {
  color: #e8effd;
}

.gray-dark {
  color: #575758;
}

.gray-mid {
  color: #b1b2b4;
}

.start-screen {
  background-color: tomato;
  height: 800px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.js-player-card {
  border: 1px solid #125af5;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 5%;
  width: 160px;
}

.js-player-card h2 {
  color: #125af5;
}

.round-score {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: uppercase;
}

.grand-score {
  color: #575758;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.js-grand-score-num,
.js-round-score-num {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #575758;
}

.js-grand-score-num {
  font-size: 2.3rem;
}

.flex-title-area {
  display: flex;
  justify-content: space-between;
}

.puzzle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.puzzle-section p {
  border-bottom: 5px solid #125af5;
  border-radius: 1px;
  /*color: #f6f7fa;*/
  font-size: 2rem;
  font-weight: 500;
  height: 50px;
  margin-right: 8px;
  text-transform: capitalize;
  text-align: center;
  width: 50px;
}

.box {
  transform: rotate(360deg);
  transform-origin: top left;
}

.actions-btns {
  display: grid;
}

.user-section {
  display: flex;
}

.js-solve-btn,
.js-vowel-btn {
  background: transparent;
  border: none;
  border-radius: 10px;
  background-color: #e8eefd;
  cursor: pointer;
  font-size: 1rem;
  margin: auto;
  height: 40px;
  font-weight: 700;
  width: 150px;
  text-transform: uppercase;
}

.js-spin-btn {
  background: transparent;
  border: 6px dashed #125af5;
  border-radius: 50%;
  color: #e8eee8;
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  margin: 20px;
  height: 120px;
  width: 120px;
  background-color: #125af5;
}

.js-spin-btn:before {
  position: absolute;
  content: '';
  height: calc(100% + 10px); 
  width: calc(100% + 10px); 
  border: 7px dotted #e8eefd;
  top: -5px;
  left: -5px;
  border-radius: inherit;
  animation: spin 15s linear infinite;
}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg); 
  }
}

.js-solve-btn:hover,
.js-vowel-btn:hover {
  background-color: #125af5;
  color: #f6f7fa;
}

.letters-section {
  display: grid;
  grid-template-columns: repeat(13, 80px);
  margin: 0 auto;
  align-items: center;
}

.letters-section p {
  border: 1px solid #b9cdfb;
  border-radius: 50%;
  cursor: pointer;
  color: #575758;
  height: 55px;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px auto;
  padding-top: 15px;
  text-align: center;
  width: 55px;
}

.letters-section p:hover {
  background-color: #b9cdfb;
  font-weight: 700;
}

.restart-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
}

.fa-redo {
  color: #575758;
  padding: 5px;
}

