*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fa;
  display: grid;
  grid-template-columns: 170px 1fr;
  font-family: "Rubik", sans-serif;
}

main {
  margin: 0 auto;
}

aside {
  padding-left: 10%;
}

span {
  margin-right: 50px;
}

.blue-bright {
  color: #125af5;
}

.blue-light {
  color: #b8cefb;
}

.blue-pale {
  color: #e8effd;
}

.gray-dark {
  color: #575758;
}

.gray-mid {
  color: #b1b2b4;
}

.start-screen {
  background-color: #b8cefb;
  height: 800px;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.start-screen h1 {
  color: #575758;
  font-size: 3rem;
  margin: 40px 0;
}

.start-screen p {
  color: #575758;
}

.player-input-flex {
  display: flex;
  width: 25%;
  margin: auto;
}

.player-input-flex label {
  background-color: #125af5;
  color: #e8effd;
  height: 35px;
  margin-top: 10px;
  padding-top: 8px;
  width: 50px;
}

.player-input-flex input {
  background-color: #f5f5f5;
  border: transparent;
  color: #575758;
  flex: 1;
  height: 35px;
  padding-left: 5px;
  margin-top: 10px;
}

.start-btn {
  background-color: #f5f5f5;
  border: transparent;
  border-radius: 10px;
  color: #575758;
  cursor: pointer;
  height: 40px;
  margin-top: 20px;
  width: 100px;
}

.start-btn:hover {
  background-color: #125af5;
  color: #e8effd
}

.player-card {
  border: 1px solid #125af5;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 5%;
  width: 160px;
}

.player-card h2 {
  color: #125af5;
}

.current-player-card {
  background-color: #b8cefb;
  border: 4px solid #125af5;
}

.round-score {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: uppercase;
}

.grand-score {
  color: #575758;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.round-score-num {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #575758;
}

.flex-title-area {
  display: flex;
  justify-content: space-between;
}

.puzzle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.puzzle-letters {
  color: #f6f7fa;
  font-size: 2rem;
  font-weight: 500;
  height: 50px;
  margin-right: 8px;
  text-transform: capitalize;
  text-align: center;
  width: 50px;
}

.puzzle-letters {
  border-bottom: 5px solid #125af5;
  border-radius: 1px;
  display: inline-block;
}

.grid-letters {
  border-bottom: 5px solid #125af5;
  border-radius: 1px;
  display: inline;
}

.special-char {
  border-bottom: 5px solid transparent;
  color: #125af5;
  height: 50px;
  font-size: 2rem;
  margin-right: 8px;
  text-align: center;
  width: 50px;
}

.whitespace {
  border-bottom: 5px solid transparent;
  color: #f6f7fa;
  height: 50px;
  margin-right: 8px;
  text-align: center;
  width: 50px;
}

.first-row-div, 
.second-row-div {
  margin: auto;
}

.box {
  transform: rotate(360deg);
  transform-origin: top left;
}

.actions-btns {
  display: grid;
}

.user-section {
  display: flex;
}

.user-popup {
  background-color: #125af5;
  border-radius: 10px;
  color: #f6f7fa;
  display: none;
  font-size: 2rem;
  height: 170px;
  margin: 0 330px;
  padding: 20px;
  position: absolute;
  width: 690px;
}

.user-instructions {
  font-family: font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  margin-left: 20px;
  text-align: center;
  width: 690px
}

.vowel-reminder {
  font-size: 1.1rem;
}

.solve-btn,
.vowel-btn {
  background: transparent;
  border: none;
  border-radius: 10px;
  background-color: #e8eefd;
  cursor: pointer;
  font-size: 1rem;
  margin: auto;
  height: 40px;
  font-weight: 700;
  width: 150px;
  text-transform: uppercase;
}

.spin-btn {
  background: transparent;
  border: 6px solid transparent;
  border-radius: 50%;
  color: #e8eee8;
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  margin: 20px;
  height: 120px;
  width: 120px;
  background-color: #125af5;
}

.solve-btn:hover,
.vowel-btn:hover {
  background-color: #125af5;
  color: #f6f7fa;
}

.letters-section {
  display: grid;
  grid-template-columns: repeat(13, 80px);
  margin: 0 auto;
  align-items: center;
}

.flex-answer {
  display: flex;
  margin: auto;
  width: 450px;
}

.answer-input {
  background-color: #b9cdfb;
  border: 2px solid transparent;
  flex: 1;
  height: 35px;
}

.answer-submit-btn {
  background-color: #125af5;
  border: 2px solid transparent;
  color: #e8effd;
  height: 35px;
}

.consonant{
  border: 1px solid #b9cdfb;
  border-radius: 50%;
  cursor: pointer;
  color: #575758;
  height: 55px;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px auto;
  padding-top: 15px;
  text-align: center;
  width: 55px;
}

.consonant:hover {
  background-color: #b9cdfb;
  font-weight: 700;
}

.vowel {
  background-color: #b8cefb;
  border: 1px solid #575758;
  border-radius: 50%;
  color: #575758;
  cursor: pointer;
  height: 55px;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px auto;
  padding-top: 15px;
  text-align: center;
  width: 55px;
}

.disabled-letters {
  background-color: #b1b2b4;
}

.disabled-letters:hover {
  cursor: not-allowed;
  background-color: #b1b2b4;
}

.temp-disable {
  background-color: #b1b2b4;
  color: #b1b2b4;
}

.temp-disable:hover {
  cursor: not-allowed;
  background-color: #b1b2b4;
}


.disabled-vowels {
  cursor: not-allowed;
}

.highlighted-vowel {
  background-color: #125af5;
  color: white;
}

.restart-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
}

.fa-redo {
  color: #575758;
  padding: 5px;
}

.bonus-round-btn {
  background-color: #125af5;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #e8effd;
  height: 50px;
}

.bonus-blue-letter {
  color: #125af5;
}



